@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(96.7% 0.003 264.542);
    --foreground: oklch(27.8% 0.033 256.848);
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)];
  }

  /* Hide spin buttons on number inputs */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
