@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(96.7% 0.003 264.542);
    --foreground: oklch(27.8% 0.033 256.848);
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)];
  }
}
